*{
    margin: 0px;
    padding: 0px;
}
.background{
    height: 100vh;
    background-color: thistle;
    display: flex;
    justify-content: space-around;
    padding: 40px 100px 0px 100px;
    
}
.background-main{
    padding: 200px 0px;
    gap: 100px;
}

.start{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-bottom: 30px;
}
.para{
    margin-bottom: 30px;
}
.btn{
    background-color: indianred;
    border: 0px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.feature{
    text-align: center;
    margin-top: 50px;

}
.box{
    height: 450px;
    width: 350px;
    background-color: lightpink;
    border-radius: 300px 300px 0px 0px;
}
.box1{
    height: 450px;
    width: 350px;
    background-color: lightcyan;
    border-radius: 300px 300px 0px 0px;
}
.box2{
    height: 450px;
    width: 350px;
    background-color:lightgoldenrodyellow;
    border-radius: 300px 300px 0px 0px;
}
.boxs-outline{
    height: 500px;
    width: 350px;
    
}
.Pink{
    margin: 20px;
    padding: 0px 70px;
}
.pic{
    height: 430px;
    width: 300px;
    margin: 20px 10px 0px 15px;
    
}
.boxs{
    margin-top: 30px;
    display: flex;
    padding: 0px 100px 0px 100px;
    justify-content: space-around;
}
/* 2nd background */
.background1{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    padding: 40px 300px 0px 100px;
    margin-top: 50px;
}
.background-main1{
    text-align: center;
    margin: 200px;
    position: relative;
}
.start1{
    font-size: 30px;
    display: inline-block;
    margin-bottom: 20px;
}
.para1{
    margin-bottom: 30px;
}
.color{
    color: #E55473;
}
.imgs{
    width: 300px;
    height: 400px;
    position: absolute;
    right: 100px;
    gap: 300px;
    padding-left: 100px;
    padding-top: 100px;
    
}
/* instragram */
.instragram{
    text-align: center;
    margin-top: 30px;
}
.in{
    margin-bottom: 20px;
}
/* photo galary */
.photo-galary{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    padding: 0px 300px 0px 250px;
}
.size{
    width: 250px;
    height: 300px;
}
/* deals */
.latest{
    width: 1050px;
    height: 300px;
    margin: 30px 100px 0px 250px;
    position: absolute;
}
.form{
    text-align: center;
    position: relative;
    left: 50px;
    right: 50px;
    top: 150px;

}
.get{
    margin-bottom: 15px;
}
.coupon{
    margin-bottom: 15px;
}
.email{
    padding: 10px 300px 10px 10px;
    border-radius: 5px;
    border: none;
}